# Ignore local environment files
.env*.local
.env

# Ignore node_modules (Docker installs its own inside the container)
node_modules
npm-debug.log*

# Ignore build outputs
.next
out
build

# Ignore version control systems and IDE settings
.git
.gitignore
.idea
.vscode
