@import "tailwindcss";

:root {
  --background: #fae8ff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fae8ff;
    --foreground: #4B2C4F;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
