@import "tailwindcss";

:root {
  --background: #fae8ff;
  --foreground: #4B2C4F;
  --foregrounddark: #331d36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fae8ff;
    --foreground: #4B2C4F;
    --foregrounddark: #331d36;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
